<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoEmail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
    <userSettings>
    <AutoEmail.My.MySettings>
        <setting name="Login" serializeAs="String">
            <value/>
        </setting>
        <setting name="Password" serializeAs="String">
            <value/>
        </setting>
        <setting name="SMTPServer" serializeAs="String">
            <value/>
        </setting>
        <setting name="PortNumber" serializeAs="String">
            <value/>
        </setting>
        <setting name="SSL" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="From" serializeAs="String">
            <value/>
        </setting>
        <setting name="Subject1" serializeAs="String">
            <value/>
        </setting>
        <setting name="Message" serializeAs="String">
            <value/>
        </setting>
    </AutoEmail.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.116.0" newVersion="1.0.116.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
